@charset "utf-8";
/* CSS Document */

	/* Color pallete */
	/* White */
	.f-branquim{color:#f8f9fa;}
	.b-branquim{background-color: #f8f9fa;}
	/* Battleship Grey */
	.f-cinzim{color:#808782;}
	.b-cinzim{background-color: #808782;}
	/* Dodger Blue */
	.f-azuzim{color:#3590F3;}
	.b-azuzim{background-color: #3590F3;}
	/* Cinnabar */
	.f-vermeim{color:#D64933;}
	.b-vermeim{background-color: #D64933;}
	/* Black Chocolate */
	.f-pretim{color:#1E1B18;}
	.b-pretim{background-color: #1E1B18;}



html, body {
  	height: 100vh;
  	margin: 0;
	font-family:  'SFProDisplayBold'
}

.pixeledis {
	font-family:  'EpsonPixeledRegular'
}

.SFProDisplayLight {
	font-family:  'SFProDisplayLight'
}

.text-justify {
  text-align:justify!important;
}

.asciiVideo{  
	font-size: 10pt;
	line-height: 7pt;
	text-align: right;
}

.about{
	font-size: .5rem;
}

p{
	margin-bottom: 0;
}

.div-100{
	min-height: 100%;
}

@media (max-width: 992px) {
	.hiddenis{
		position: absolute !important;
		width: 1px !important;
		height: 1px !important;
		padding: 0 !important;
		margin: -1px !important;
		overflow: hidden !important;
		clip: rect(0, 0, 0, 0) !important;
		white-space: nowrap !important;
		border: 0 !important;
	}
}

.txt-type > .txt {
  border-right: 0.2rem solid #FFFFFF;
}

a {
  color: #f8f9fa !important; 
  text-decoration: none !important; 
}
a:hover, a:focus {
  color: #3590F3 !important; 
  text-decoration: underline!important; 
}


i {
     position:relative;
	 color:#3590F3;
     left:-1.5rem;
	 top:-2rem;
	 line-height: 0px;
     /*visibility: hidden;*/
}

 .success i.bi-check-circle-fill{
     /*visibility: visible;*/
     color:#3590F3;
 }

 .error i.bi-exclamation-circle-fill {
	/*visibility: visible;*/
    color:#D64933;
}
.text-danger {
     visibility: hidden;
 }

 .error p {
     visibility: visible;
 }	